/* Reflect Arts style.less */
/*
    1. BODY
    2. HEADER
    3. SIDEBAR
    4. CONTENT
    5. FOOTER
    6. ETC.
*/
/* === 1. BODY === */
body {
  background-color: #FFF;
}
a {
  color: #00aaea;
}
/* === 2. HEADER === */
.page-header {
  border-bottom: 1px dotted #eee;
}
.nav {
  margin-bottom: 0px;
  margin-top: 20px;
}
.nav li {
  margin-right: 10px;
}
.nav li > a {
  display: block;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #FFF;
  background-color: #333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.nav-pills > li > a:hover {
  background-color: #24b8f0;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #24b8f0;
}
/* === 3. SIDEBAR === */
.intros-outer {
  min-height: 180px;
}
.intros-outer p {
  font-size: 18px;
}
#newsletter-wrapper {
  margin-bottom: 40px;
}
.more-link {
  font-style: italic;
  font-weight: bold;
  margin: 0 20px;
}
.more-link:hover {
  color: #333;
  text-decoration: none;
}
.more-button {
  min-width: 150px;
  padding: 10px;
  background-color: #333;
  color: #FFF;
  margin: 20px 0;
}
.more-button:hover {
  background-color: #00aaea;
  color: #FFF;
  text-decoration: none;
}
/* === 4. CONTENT === */
.reflect-list-style li {
  margin-bottom: 10px;
}
.reflect-list-style li > a {
  font-weight: bold;
}
.reflect-list-style li > a:hover {
  color: #333;
  text-decoration: none;
}
/* === 5. FOOTER === */
#footer {
  background-color: #eee;
  padding: 10px 0;
  margin-bottom: 20px;
}
#footer a {
  color: #666;
}
#footer a:hover {
  color: #000;
  text-decoration: none;
}
#footer #copyright-wrapper {
  color: #999;
}
#footer #copyright {
  margin-left: 10px;
}
/* === 6. ETC. === */
.hr-dotted {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px dotted #eee;
}
