/* Reflect Arts style.less */
/*
    1. BODY
    2. HEADER
    3. SIDEBAR
    4. CONTENT
    5. FOOTER
    6. ETC.
*/
/* === 1. BODY === */
body {
  background-color: #FFF;
}
/* === 2. HEADER === */
.page-header {
  border-bottom: 1px dotted #eee;
}
.nav {
  margin-bottom: 0px;
  margin-top: 20px;
}
.nav li {
  margin-right: 10px;
}
.nav li > a {
  display: block;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #FFF;
  background-color: #333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.nav-pills > li > a:hover {
  background-color: #24b8f0;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #24b8f0;
}
/* === 3. SIDEBAR === */
/* === 4. CONTENT === */
/* === 5. FOOTER === */
/* === 6. ETC. === */
.hr-dotted {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px dotted #eee;
}
