{% load tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Reflect Arts {% block subtitle %}{% endblock %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/html5shiv-printshiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

        {% block header-wrapper %}
        <header id="header">

            {% block header %}
            <div class="page-header">
                <div class="row">
                    <div class="span4">
                        <img src="{{ STATIC_URL }}img/logo.png"/>
                    </div>
                    <div class="span8">
                        <ul class="nav nav-pills">
                            <li class="{% active request "^/$" %}">
                                <a href="{% url index %}">Home</a>
                            </li>
                            <li class="{% active request '^/exhibitions/' %}">
                                <a href="{% url exhibitions %}">Exhibitions</a>
                            </li>
                            <li class="{% active request '^/artists/' %}">
                                <a href="{% url artists %}">Artists</a>
                            </li>
                            <li class="{% active request '^/services/' %}">
                                <a href="{% url services %}">Services</a>
                            </li>
                            <li class="{% active request '^/contact/' %}">
                                <a href="{% url contact %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            {% endblock header %}

        </header><!-- header -->
        {% endblock header-wrapper %}

        {% block content-wrapper %}
        <div id="content-wrapper" class="row clearfix">
            {% block sidebar-wrapper %}
            <div class="span4">

                {% block sidebar %}
                    {% block intros-outer %}
                        <div class="clearfix">
                            {% block intros %}{% endblock %}
                        </div>
                        <hr class="hr-dotted">
                    {% endblock %}

                    {% block newsletter %}
                        <div class="clearfix">

                            <ul class="unstyled">
                            {% for newletter in newsletter %}
                                <li>
                                    <a href="{{ newletter.url }}">{{ newletter.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>

                        </div>
                    {% endblock %}
                {% endblock %}

            </div>
            {% endblock sidebar-wrapper %}

            {% block content-outer %}
            <div class="span8">

                {% block content %}{% endblock content %}

            </div>
            {% endblock content-outer %}
        </div><!-- content-wrapper -->
        {% endblock content-wrapper %}

        {% block footer-wrapper %}
        <footer id="footer" class="clearfix">

            {% block footer %}
            <div id="footer-content" class="row">

                <div class="span4">
                    &copy; {% now "Y" %}. Reflect Arts. All rights reserved.
                </div>
                <div class="span8">
                    <ul class="inline">
                        <li>
                            <a href="{% url services %}">Services</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/reflectarts">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/reflectarts">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endblock %}

        </footer><!-- footer -->
        {% endblock footer-wrapper %}

    </div><!-- container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  </body>
</html>
