{% load tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Reflect Arts {% block subtitle %}{% endblock %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/html5shiv-printshiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

        <header id="header">

            <div class="page-header">
                <div class="row">
                    <div class="span4">
                        <h1>Reflect Arts</h1>
                    </div>
                    <div class="span8">
                        <ul class="nav nav-pills">
                            <li class="{% active request "^/$" %}">
                                <a href="{% url index %}">Home</a>
                            </li>
                            <li class="{% active request '^/exhibitions/' %}">
                                <a href="{% url exhibitions %}">Exhibitions</a>
                            </li>
                            <li class="{% active request '^/artists/' %}">
                                <a href="{% url artists %}">Artists</a>
                            </li>
                            <li class="{% active request '^/services/' %}">
                                <a href="{% url services %}">Services</a>
                            </li>
                            <li class="{% active request '^/contact/' %}">
                                <a href="{% url contact %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </header><!-- header -->

        <div id="content-wrapper">

            {{ newsletter }}

            {% block content %}{% endblock %}
        </div><!-- content-wrapper -->

        <footer id="footer"></footer><!-- footer -->

    </div><!-- container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  </body>
</html>
