{% extends 'base.html' %}
{% load widget_tweaks %}

{% block subtitle %}| Contact{% endblock %}

{% block intros %}
    <p>{{ intro|safe }}</p>
{% endblock %}

{% block content %}

    <h3>Contact Us</h3>

    <p>If you would like to be on mailing list to be informed of upcoming exhibition opportunities, please email us at <a href="mailto:info@reflectarts.com" class="bold">info@reflectarts.com</a> </p>

    {% if contact_information.description %}
        <p> {{ contact_information.description }}</p>
    {% endif %}

    <h3 class="italic">Or fill in the below form:</h3>

    {% if error_messages %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul class="unstyled">
                {{ error_messages }}
            </ul>
        </div>
    {% else %}{% if success_messages %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul class="unstyled">
                {{ success_messages }}
            </ul>
        </div>
    {% endif %}
    {% endif %}

    <div id="contact-form-wrapper">
        <form class="" action="{% url contact %}" method="POST">{% csrf_token %}
            <div class="control-group {% if contact_form.name.errors %}error{% endif %}">
                {{ contact_form.name|attr:"placeholder:Your name" }}
            </div>
            <div class="control-group {% if contact_form.email.errors %}error{% endif %}">
                {{ contact_form.email|attr:"placeholder:Your email address" }}
            </div>
            <div class="control-group {% if contact_form.location.errors %}error{% endif %}">
                {{ contact_form.location|attr:"placeholder:Your location" }}
            </div>

            <h5 class="light-gray">Comments</h5>
            <div class="control-group {% if contact_form.comment.errors %}error{% endif %}">
                {{ contact_form.comment }}
            </div>

            <input type="submit" class="button button-gray font-georgia-bold-italic white-color" value="Submit form!" />
            <button type="reset" class="button button-light-gray font-georgia-bold-italic white-color" onClick="this.form.reset()">Reset</button>
        </form>
    </div>



{% endblock %}
