{% extends 'base.html' %}

{% block subtitle %}| Exhibitions{% endblock %}

{% block intros %}
    <p>{{ intro|safe }}</p>
{% endblock %}

{% block content %}

    <h3>Selected Exhibitions</h3>

    <ul id="exhibition-list" class="unstyled reflect-list-style">
        {% for e in exhibition_list %}
            <li><a href="{% url exhibition slug=e.slug %}">{{ e.title }}</a></li>
        {% endfor %}
    </ul>

    {% if page_obj.has_previous or page_obj.has_next %}
    <div class="pagination font-georgia-bold-italic">
        <ul>
            <li {% if not page_obj.has_previous %} class="disabled" {% endif %}>
                <a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}{% if current_tag %}&tag={{ current_tag.slug }}{% endif %}">«</a>
            </li>
            {% for i in paginator.page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}{% if current_tag %}&tag={{ current_tag.slug }}{% endif %}">{{ i }}</a></li>
            {% endfor %}
            <li {% if not page_obj.has_next %} class="disabled" {% endif %}>
                <a href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if current_tag %}&tag={{ current_tag.slug }}{% endif %}">»</a>
            </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
