{% extends 'base.html' %}

{% load thumbnail %}

{% block subtitle %}| Home{% endblock %}

{% block intros %}
    <p>{{ intro|safe }}</p>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="span4">
            <h3>Reflect-arts Selected Exhibitions and Events </h3>

            <div class="exhibition">
            {% for e in exhibitions %}
                <h4>{{ e.title }}</h4>
                <p>{{ e.from_date|date:"F d"}}, {{e.from_date|date:"Y"}} - {{e.to_date|date:"F d"}}, {{e.to_date|date:"Y"}}</p>
                <p class="light">{{ e.place }}</p>

                <a href="{% url exhibition slug=e.slug %}" class="font-georgia-bold-italic">more info</a>
            {% endfor %}
            </div>

        </div><!-- span4 -->

        <div class="span4">
            <h3>Selected artists</h3>

            <ul class="unstyled reflect-list-style" id="index-artists-list">
            {% for artist in selected_artists %}
                <li>
                    <div class="image-wrapper">
                        <img src="{{ artist.image|thumbnail_url:'artist_thumb' }}" />
                        <span class="font-georgia-italic" >{{ artist.get_name }}</span>
                        <a href="{% url artist slug=artist.slug %}" class="pull-right font-georgia-italic"> more info </a>
                    </div>
                </li>
            {% endfor %}
            </ul>

            <a href="{% url artists %}" class="button button-gray font-georgia-bold-italic white-color">meet more artists</a>
        </div><!-- span4 -->

    </div><!-- row -->

{% endblock %}
